##############################
## Folders                  ##
##############################
target
bin
obj
x86
x64

##############################
## Netbeans conf            ##
##############################
nb-configuration.xml
nbactions.xml


##############################
## Netbeans file            ##
##############################
*.a
*.o
*.lo
*.la
*.al
*.so
*.so.[0-9]*
*.pyc
*.pyo
*.rej
*.suo
*.user
*.class
[Tt]humbs.db